GPT4_AZURE_OPENAI_ENDPOINT=
GPT4_AZURE_OPENAI_KEY=
GPT4_AZURE_OPENAI_API_VERSION=
GPT4_DEPLOYMENT_NAME=

DALLE3_AZURE_OPENAI_ENDPOINT=
DALLE3_AZURE_OPENAI_KEY=
DALLE3_AZURE_OPENAI_API_VERSION=
DALLE3_DEPLOYMENT_NAME=

GPT4VISION_AZURE_OPENAI_ENDPOINT=
GPT4VISION_AZURE_OPENAI_KEY=
GPT4VISION_AZURE_OPENAI_API_VERSION=
GPT4VISION_DEPLOYMENT_NAME=
